body{
    padding-top: 50px;
    padding-left: 100px;
    
    display: flex;
    justify-content: center;
    background-image: url("./2148475334.jpg");
    background-size: cover;
}
.body{
    /* border: 1px solid black; */
    background-color: rgb(201, 232, 238);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #1b075a;
}


.num{
    width: 100px;
    height: 50px;

    background-color: rgb(105, 94, 204);
    color: rgb(255, 255, 255);
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid black ;
    margin-bottom: 5px;
}

.operator{
    width: 100px;
    height: 50px;

    background-color: #f1cb32;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid black ;
    margin-bottom: 5px;
}

.equals{
    width: 100px;
    height: 50px;

    background-color: #d45e0a;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid black ;
    margin-bottom: 5px;
}

button:hover{
    background-color: rgb(137, 170, 236);
    color: black;
}

input{
    width: 405px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}
